.accordion-list {
  border-top: 2px solid #000;
  overflow: hidden;
}

/* Safari 브라우저용 사용자 정의 스타일 */
summary::-webkit-details-marker {
  display: none;
}

summary {
  list-style-type: none; /* 그 외의 브라우저용 사용자 정의 스타일 */
  font-weight: bold;
  cursor: pointer;
}

.accordion-button {
  background-color: #fff;
}

.accordion-collapse {
  background-color: #ddd;
}
